<!DOCTYPE html>
<html lang='en'>

<head>
    <title>Phaser Test App</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/KsATjdH.png" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/main.css" rel="stylesheet">
</head>

<body>

<div class='page-container'>

    <!-- IMAGE SOURCE: https://gabrielbstiernstrom.deviantart.com/ -->
    <img
        class='background-image'
        src="https://pre04.deviantart.net/82e6/th/pre/i/2009/074/5/0/white_cold_galaxy_by_gabriel_bs.jpg"
        alt="https://gabrielbstiernstrom.deviantart.com/art/White-Cold-Galaxy-116011852"
    >

    <div class='left page-sidebar'>
        <h1>Phaser Test App</h1>
    </div>

    <div class='middle'>
        <div id="content"></div>
    </div>

    <div class='right page-sidebar'>
        <span>By <a href='https://github.com/lynncyrin'>Lynn Cyrin</a></span>
    </div>
</div>

<script src="main.js"></script>
</body>

</html>
